<div class="resume-header">
  <div class="name">
    <span>Mayur Mistry</span>
    <span>Web Application Developer</span>
  </div>
</div>
<div class="resume-content">
  <div class="resume-left-side-content">
    <div class="Technical-skills-container">
      <div class="Technical-skills-header">
        <span>Technical Skills</span>
      </div>
      <div class="skills-list">
        <ul>
          <li>Node.js, Express.js, Python</li>
          <li>Docker, AWS: S3, RDS, Lambda, EC2</li>
          <li>MySQL, Redis, MongoDB</li>
          <li>Angular, React, JavaScript, HTML, CSS</li>
          <li>Kendo UI, Angular Material, PrimeNG, FusionCharts, Bootstrap</li>
        </ul>
      </div>
    </div>
    <div class="Technical-skills-container">
        <div class="Technical-skills-header">
          <span>Certifications</span>
        </div>
        <div class="skills-list">
          <ul>
            <li>Udacity - Front-End Web Developer Nanodegree (2017)</li>
            
          </ul>
        </div>
    </div>
    <div class="Technical-skills-container">
      <div class="Technical-skills-header">
        <span>Achievements</span>
      </div>
      <div class="skills-list">
        <ul>
          <li>Rising Star Award - Infosys <strong>(FY 2018-19)</strong> </li>
          <li>Insta Award - Infosys <strong>(FY 2018-19)</strong> </li>
        </ul>
      </div>
    </div>
    <div class="Technical-skills-container" style="margin-bottom: 17px !important;;">
      <div class="Technical-skills-header">
        <span>Education</span>
      </div>
      <div class="skills-list">
        <ul>
          <li>B.E Information Technology DJ Sanghvi: <strong>7.04/10.00 (2017)</strong></li>
          <li>HSC: <strong>79.00% (2012)</strong></li>
          <li>SSC: <strong>79.45% (2010)</strong></li>
        </ul>
      </div>
    </div>
    <div class="Technical-skills-container">
      <div class="Technical-skills-header">
        <span>Contact</span>
      </div>
      <div class="skills-list">
        <ul>
          <li>+91 8452932214</li>
          <li>m.mistry17@yahoo.com</li>
          <li>github.com/mayur1702</li>
          <li>linkedin.com/in/mayur-mistry/</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="resume-right-side-content">
    <div class="work-experience-container">
      <div class="work-experience-header">
        <span>Work Experience</span>
      </div>
      <div class="work-experience-content">

        <div class="company-details">
          <span class="company-name">Media.net, Web Application Developer, Mumbai</span>
          <span class="company-period">May 2019 - Present</span>
        </div>
        <div>
          <ul>
            <li>
              Migrated and Re-designed the entire architecture of legacy application to support dynamic generation
              of form and view based on user access and form settings, also Dockerized the application.
            </li>
            <li>Worked on CMS to create dynamic flows and landers based on the regex settings.</li>
            <li>Worked on creating/modifying browser extension features for Chrome and Firefox.</li>
            <li>Worked on a Node project which served as middleware for using several third party APIs on web pages.</li>
            <li><b>Technologies/Libraries: Angular 6+, React, Node.js, MySQL, Redis, PHP, Gulp, AWS S3, Docker, PrimeNG.</b></li>
          </ul>
        </div>

        <div class="company-details">
          <span class="company-name">Infosys Ltd, Systems Engineer, Bengaluru</span>
          <span class="company-period">May, 2018 - May, 2019</span>
        </div>
        <div>
          <ul>
            <li>Part of the team responsible for developing Hold & Release management system as a part of Proof of Concept which was appreciated by client and resulted in global POC</li>
            <li>Implemented the frontend architecture from scratch.</li>
            <li>Designed the data model as per client requirements at the same time delivering performance and security.</li>
            <li>Integrated third party libraries like JWT for application security.</li>
            <li><b>Technologies/Libraries: Angular 6, Express.js, JWT, MySQL, Kendo Grid, Angular Material</b></li>
          </ul>
        </div>


        <div class="company-details">
          <span class="company-name">Infosys Ltd, Systems Engineer Trainee, Mysore</span>
          <span class="company-period">Jan, 2018 - May, 2018</span>
        </div>
        <div>
          <ul>
            <li>Responsible for implementation of  a console based python application for Hotel Booking</li>
            <li>Developed a full stack web application for online mobile shopping with unit testing code coverage above 80%</li>
            <li><b>Technologies/Libraries: Angular 6, Express.js, MongoDB, Bootstrap, Jasmine</b></li>
          </ul>
        </div>

      </div>
      <!-- <div class="work-experience-header">
        <span>Certifications</span>
      </div>
      <div class="work-experience-content">
        <div>
          <ul style="margin:0px">
            <li>
              <span><b>Udacity Certified Front-End Web Developer Nanodegree (2017) </b></span>
             </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
